@import url(../common.css);
@import url(../keyframes.css);

body {
  border: 32px solid var(--lightpink);
  height: 90vh;
  border-radius: 1em;
  background-color: var(--lightpink);
}

.screen {
  box-shadow: inset 0 0 5em 0.5em var(--shadow);
  height: 80%;
  border: 2px solid var(--darkpink);
  background-color: var(--gray);
}

.menu {
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: space-around;
  align-content: center;
  bottom: 0;
  background-color: var(--lightpink);
  padding: 16px;
}

.option {
  height: 100%;
  width: 8%;
  display: grid;
  place-content: center;
  border-radius: 1em;
}
.option:nth-of-type(1) {
  background-color: rgb(161, 100, 30);
}
.option:nth-of-type(2) {
  background-color: rgb(90, 54, 13);
}
.option:nth-of-type(3) {
  background-color: rgb(102, 93, 84);
}
.option:nth-of-type(4) {
  background-color: rgb(94, 124, 46);
}
.option:nth-of-type(5) {
  background-color: rgb(105, 96, 119);
}
.option.selected {
  --borderColor: #fff;
  --shadowColor: #fff;
  animation: blink 1s forwards;
}
#bookText {
  color: var(--darkpink);
  text-shadow: none;
  font-size: xx-large;
}
#book.open {
  width: 50%;
  height: 50%;
  background-color: var(--lightpink);
  display: flex;
  border-radius: 1em;
}

#page.open {
  background-color: var(--gray);
  box-shadow: inset 4px 16px var(--shadow);
  width: 50%;
  height: 100%;
}
