@import url(../common.css);
@import url(../keyframes.css);

body {
  border: 32px solid var(--lightpink);
  height: 90vh;
  border-radius: 1em;
  background-color: var(--lightpink);
}

.screen {
  box-shadow: inset 0 0 5em 0.5em var(--shadow);
  height: 80%;
  border: 2px solid var(--darkpink);
  background-color: var(--gray);
}
.witch {
  position: absolute;
  top: 35%;
  left: 5%;
  width: 350px;
  height: 350px;
  animation: fly 20s forwards;
  animation-iteration-count: infinite;
}
.birds {
  position: absolute;
  top: 55%;
  left: 85%;
  width: 150;
  height: 150;
  animation: fly 12s forwards;
  animation-iteration-count: infinite;
}
.attacked {
  animation: attacked 2s forwards;
  animation-iteration-count: infinite;
}
.attack {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 50px;
  height: 50px;
  animation: slide 2s forwards;
  border-radius: 50%;
}
.Sol {
  background-color: rgb(255, 150, 120);
}
.Terra {
  background-color: rgb(100, 200, 80);
}
.Ar {
  background-color: rgb(200, 200, 255);
}
.Oceano {
  background-color: rgb(100, 200, 255);
}
.Noite {
  background-color: rgb(90, 80, 150);
}
.healthBar {
  position: absolute;
  top: 70%;
  left: 5%;
  width: 350px;
  height: 20px;
  border: 2px solid black;
  border-radius: 2px;
}
.healthShow {
  width: 100%;
  height: 100%;
  background-color: red;
}

.menu {
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: space-around;
  align-content: center;
  bottom: 0;
  background-color: var(--lightpink);
  padding: 16px;
}
.book {
  display: flex;
}
.option {
  height: 100%;
  width: 98%;
  display: grid;
  place-content: center;
  border-radius: 1em;
}

.option.selected {
  --borderColor: #fff;
  --shadowColor: #fff;
  animation: blink 1s forwards;
}
#bookText {
  color: var(--darkpink);
  text-shadow: none;
  font-size: xx-large;
  width: 100%;
}
#book.open {
  width: 100%;
  border-radius: 1em;
}

#page.open {
  background-color: var(--gray);
  box-shadow: inset 4px 16px var(--shadow);
  width: 50%;
  height: 100%;
}
#title {
  position: fixed;
  left: 40%;
  top: 25%;
}
#title span {
  animation: jumpLetter 5s forwards;
  animation-iteration-count: infinite;
  white-space: pre;
  display: inline-flex;
}

#title span:nth-of-type(2) {
  animation-delay: 0.15s;
}
#title span:nth-of-type(2) {
  animation-delay: 0.15s;
}
#title span:nth-of-type(3) {
  animation-delay: 0.3s;
}
#title span:nth-of-type(4) {
  animation-delay: 0.45s;
}
#title span:nth-of-type(5) {
  animation-delay: 0.6s;
}
#title span:nth-of-type(6) {
  animation-delay: 0.75s;
}
#title span:nth-of-type(7) {
  animation-delay: 0.8s;
}
#title span:nth-of-type(8) {
  animation-delay: 0.9s;
}

#title span:nth-of-type(9) {
  animation-delay: 1.05s;
}
#title span:nth-of-type(10) {
  animation-delay: 1.2s;
}
#title span:nth-of-type(12) {
  animation-delay: 1.35s;
}
#title span:nth-of-type(13) {
  animation-delay: 1.5s;
}
#title span:nth-of-type(14) {
  animation-delay: 1.65s;
}
#title span:nth-of-type(15) {
  animation-delay: 1.8s;
}
#title span:nth-of-type(16) {
  animation-delay: 1.95s;
}
#title span:nth-of-type(17) {
  animation-delay: 2.1s;
}
#title span:nth-of-type(18) {
  animation-delay: 2.25s;
}
