@import url(../common.css);
@import url(../keyframes.css);

body {
  background-color: var(--dark);
  margin: 0;
  z-index: -1;
  position: relative;
}
.center {
  position: absolute;
  width: 50%;
  display: flex;
  left: 25%;
  top: 25%;
}
.center h1 {
  color: var(--gray);
  letter-spacing: 4px;
  font-size: 4em;
  text-shadow: 4px 4px var(--bluetext);
  z-index: -1;
}
span {
  white-space: pre;
  display: inline-flex;
}
#title span {
  animation: jumpLetter 5s forwards;
  animation-iteration-count: infinite;
}
p span {
  font-size: 32px;
}
#title span:nth-of-type(2) {
  animation-delay: 0.15s;
}
#title span:nth-of-type(3) {
  animation-delay: 0.3s;
}
#title span:nth-of-type(4) {
  animation-delay: 0.45s;
}
#title span:nth-of-type(5) {
  animation-delay: 0.6s;
}
#title span:nth-of-type(6) {
  animation-delay: 0.75s;
}

#title span:nth-of-type(8) {
  animation-delay: 0.9s;
}

#title span:nth-of-type(9) {
  animation-delay: 1.05s;
}
#title span:nth-of-type(10) {
  animation-delay: 1.2s;
}
#title span:nth-of-type(12) {
  animation-delay: 1.35s;
}
#title span:nth-of-type(13) {
  animation-delay: 1.5s;
}
#title span:nth-of-type(14) {
  animation-delay: 1.65s;
}
#title span:nth-of-type(15) {
  animation-delay: 1.8s;
}
#title span:nth-of-type(16) {
  animation-delay: 1.95s;
}
#title span:nth-of-type(17) {
  animation-delay: 2.1s;
}
#title span:nth-of-type(18) {
  animation-delay: 2.25s;
}
#title span:nth-of-type(19) {
  animation-delay: 2.4s;
}

#shelf {
  width: 80%;
  height: 30%;
  top: 65%;
  left: 13%;
  position: absolute;
  z-index: -1;
  display: flex;
  justify-content: space-between;
}
.pages {
  background-color: var(--gray);
  width: 40%;
  z-index: -2;
  position: absolute;
  box-shadow: inset 0 0 1em 0.5em var(--shadow);
}
.books {
  width: 20%;
  height: 100%;
  display: flex;
  position: absolute;
}

.books-cover {
  border-radius: 1em;
  width: 85%;
  height: 100%;
  box-shadow: 0 0 0.2em 0.1em var(--shadow);
  display: grid;
  place-content: center;
}
.optionsGame {
  display: grid;
  place-content: space-evenly center;
  height: 100%;
}
.optionsGame p {
  transform: scale(0);
  color: var(--bluetext);
  font-size: 3.2em;
  font-weight: 100;
  text-shadow: none;
}

.books-side {
  width: 15%;
  height: 98%;
  top: 2%;
  left: -8%;
  background-color: var(--gray);
  position: relative;
  border-radius: 0 1em 1em 0;
  z-index: -2;
  box-shadow: inset 0 0 1em 0.5em var(--shadow);
}
.books-backcover {
  z-index: -3;
  border-radius: 1em;
  width: 25%;
  height: 100%;
  left: -25%;
  position: relative;
}
.books:nth-child(1) {
  --leftStart: -130%;
  --topStart: 75%;
}
.books:nth-child(2) {
  left: 20%;
  --leftStart: -80%;
  --topStart: 75%;
}
.books:nth-child(3) {
  left: 40%;
  --leftStart: 0%;
  --topStart: 75%;
}
.books:nth-child(4) {
  left: 60%;
  --leftStart: 50%;
  --topStart: 75%;
}
.books:nth-child(5) {
  left: 80%;
  --leftStart: 130%;
  --topStart: 75%;
}

.books:nth-child(2) .books-cover {
  background-color: #424dad;
}
.books:nth-child(3) .books-cover {
  background-color: #29306d;
}
.books:nth-child(1) .books-cover {
  background-color: #ad4254;
}

.books:nth-child(5) .books-cover {
  background-color: #9b753b;
}
.books:nth-child(2) .books-backcover {
  background-color: #424dad;
}
.books:nth-child(3) .books-backcover {
  background-color: #1c204b;
}
.books:nth-child(1) .books-backcover {
  background-color: #863543;
}
.books:nth-child(4) .books-cover {
  background-color: var(--pink);
}
.books:nth-child(5) .books-backcover {
  background-color: #77612a;
}
.books:nth-child(4) .books-backcover {
  background-color: var(--darkpink);
}
#shelf-bottom {
  background-color: #835938;
  width: 105%;
  height: 10%;
  left: -5%;
  position: absolute;
  top: 98%;
  box-shadow: 0.1em 0.1em 0.3em 0.1em var(--shadow);
}

.books.inCenter {
  position: fixed;
  left: 35%;
  top: 25%;
  z-index: 2;
  max-height: 600px;
  width: 50%;
  animation: takeFrom 5s forwards;
}

.books-shadow.inCenter {
  position: absolute;
  width: 80%;
  height: 100%;
  left: -40%;
  top: 0;
  background-image: conic-gradient(
    var(--green),
    var(--pink),
    var(--green),
    purple,
    var(--green),
    var(--pink),
    purple
  );
  filter: blur(10em);
  animation: rotate 10s normal;
  animation-iteration-count: infinite;
  transform: scale(0);
  animation-delay: 3s;
}

.books-cover.inCenter {
  width: 40%;
  transform: rotateY(-180deg);
  transform-origin: 0% 100%;
  border-radius: 0em 1em 1em 0em;
  z-index: -1;
  animation: bookCover 2s forwards;
  transition: transform 2s ease-in-out;
}

.books-side.inCenter {
  width: 38%;
  height: 98%;
  top: 1%;
  left: 0%;
  background-color: var(--gray);
  position: absolute;
  border-radius: 0 1em 1em 0;
  z-index: 2;
  box-shadow: inset 0 0 1em 0.3em var(--shadow);
}

.books-backcover.inCenter {
  width: 40%;
  height: 100%;
  background-color: var(--gray);
  position: absolute;
  border-radius: 0 1em 1em 0;
  z-index: 0;
  left: 0%;
  top: 0%;
}
.pages.inCenter {
  width: 38%;
  height: 98%;
  top: 1%;
  transform-origin: 0% 100%;
  position: absolute;
  border-radius: 0 1em 1em 0;
  animation: bookCover 3s forwards;
  transform: rotateY(-180deg);
  transition: transform 4s ease-in-out;
  animation-delay: 1s;
  box-shadow: inset 0 0 1em 0.3em var(--shadow);
}

.pages.inCenter:nth-child(2) {
  animation-delay: 1.2s;
  transition-delay: 0.2s;
}
.pages.inCenter:nth-child(3) {
  animation-delay: 1.35s;
  transition-delay: 0.35s;
}
.pages.inCenter:nth-child(4) {
  animation-delay: 1.4s;
  transition-delay: 0.4s;
}
.pages.inCenter:nth-child(5) {
  animation-delay: 1.45s;
  transition-delay: 0.45s;
}
.pages.inCenter:nth-child(6) {
  animation-delay: 1.5s;
  transition-delay: 0.5s;
}

.optionsGame.inCenter p {
  transform: scale(1);
  transition: transform 1s ease-in-out;
  transition-delay: 3s;
}
.sideform {
  transform: rotateY(-180deg);
}
