:root{
    --gray: #D5C5D4;
    --darkgreen: #183B09;
    --green: #4A872F;
    --pink: #872F81;
    --darkpink: #501b4c;
    --shadow: rgb(99, 99, 102);
    --text: #f9d1d1;
    --dark: #0b1354;
    --selected: #a155b9;
    --blue: #165baa;
  }

#container{
    width: 40%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 30%;
    background-color: transparent;
    border-radius: 5em;
    display: grid;
    place-content: center;
    border: 3px double var(--blue);
    box-shadow: inset 0 0 1em .5em var(--blue);
}

#menu{
    margin-top: 30%;
    display: grid;
    place-content: center;
    gap: 1em;
    width: 100%;
    height: 70%;
}
body{
    background-color: black;
}
#logo{
    height: 8vh;
  }
  
  #header{
    width: 100%;
    color: var(--text);
  }
  #option{
      color: var(--text);
      text-align: center;
      font-size: 2em;
      font-weight: bold;
      padding: .4em;
      border-radius: 8em;
      box-shadow: inset 0em 0 .5em .1em var(--shadow);
      width: 100%;
    }
    .selected{
      animation: animatedBackground 2s linear infinite alternate;
      background-image: conic-gradient(var(--dark), var(--blue), var(--dark));
      border: 5px double var(--dark)
    }
  @keyframes animatedBackground {
    0%{
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.2, 1.2);
    }
    
  }
  