#box{
    width: 50%;
    height: 50%;
    position: absolute; 
    background-image: conic-gradient(
      rgb(35, 61, 44),
      rgb(65, 38, 92),
      rgb(65, 38, 92),
      rgb(38, 42, 92),
      rgb(35, 61, 44),
      rgb(38, 42, 92),
      rgb(65, 38, 92),
      rgb(35, 61, 44)
    );
    top: 25%;
    left: 25%;
    border-radius: 50%;
    animation: spin 10s infinite linear;
    filter: blur(5em);
    z-index: -1;
}
@keyframes spin {
    25%{
        transform: scale(1.5, 1.5);
    }
    50%{
        transform: scale(1, 1);
    }
    75%{
        transform: scale(2, 2);
    }
}

#container{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
    background-color: white;
}
body{
    background-color: black;
}