@font-face {
  font-family: Bloody;
  src: url("../fonts/BLOODY.TTF");
}
@font-face {
  font-family: Rune;
  src: url("../fonts/firstorder3d.ttf");
}
@font-face {
  font-family: Magic;
  src: url("../fonts/Magic.ttf");
}

* {
  font-family: Magic;
  letter-spacing: 2px;
}
:root {
  --dark: #8b7489;
  --gray: #f9d1d1;
  --darkgreen: #183b09;
  --green: #4a872f;
  --emerald: #b89e9e;
  --pink: #872f81;
  --lightpink: #b476b0;
  --darkpink: #501b4c;
  --shadow: rgb(99, 99, 102);
  --black: #161616;
  --bluetext: #1b1e42;
  --sun1: #b6752b;
  --sun2: #bbae35;
  --sun3: #c5452e;
}

p {
  font-size: 25px;
  text-align: center;
  color: var(--gray);
  text-shadow: 1px 1px var(--bluetext), -1px -1px var(--bluetext);
}

body {
  background-color: var(--gray);
  padding: 0;
}

.erro {
  color: rgb(194, 2, 2);
  font-size: 15px;
  font-family: Bloody;
  text-shadow: none;
}

input {
  border-radius: 5%;
  height: 4vh;
  border: none;
  box-shadow: 0 0 0.1em 0.1em var(--bluetext);
  background-color: transparent;
  text-align: center;
  font-size: 20px;
}
.label-input {
  text-align: center;
  display: grid;
  place-content: center;
  letter-spacing: 3px;
  font-size: 15px;
  color: var(--lightpink);
  text-shadow: 2px 1px var(--bluetext);
}

.btn {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 1.2em;
  background-image: conic-gradient(var(--pink), var(--darkpink), var(--pink));
  color: #fff;
  display: grid;
  place-content: center;
}

form {
  display: grid;
  place-content: space-evenly center;
  height: 60vh;
  width: 100%;
  min-width: 300px;
}
