@font-face {
  font-family: Bloody;
  src: url("../fonts/BLOODY.TTF");
}
@font-face {
  font-family: Rune;
  src: url("../fonts/firstorder3d.ttf");
}
@font-face {
  font-family: Magic;
  src: url("../fonts/Magic.ttf");
}

* {
  font-family: Magic;
  letter-spacing: 2px;
}
:root {
  --dark: #8b7489;
  --gray: #f9d1d1;
  --darkgreen: #183b09;
  --green: #4a872f;
  --emerald: #b89e9e;
  --pink: #872f81;
  --lightpink: #b476b0;
  --darkpink: #501b4c;
  --shadow: rgb(99, 99, 102);
  --black: #161616;
  --bluetext: #1b1e42;
  --sun1: #b6752b;
  --sun2: #bbae35;
  --sun3: #c5452e;
}

p {
  font-size: 25px;
  text-align: center;
  color: var(--gray);
  text-shadow: 1px 1px var(--bluetext), -1px -1px var(--bluetext);
}

body {
  background-color: var(--gray);
  padding: 0;
}
