@keyframes bookOpen {
  30% {
    z-index: 999;
  }
  100% {
    z-index: 996;
  }
}
@keyframes bookOpen170deg {
  30% {
    z-index: 999;
  }
  100% {
    transform: rotateY(-170deg);
    z-index: 997;
  }
}
@keyframes bookOpen160deg {
  30% {
    z-index: 999;
  }
  100% {
    transform: rotateY(-163deg);
    z-index: 998;
  }
}
@keyframes bookOpen150deg {
  30% {
    z-index: 999;
  }
  100% {
    transform: rotateY(-150deg);
    z-index: 999;
  }
}
@keyframes bookCover {
  70% {
    z-index: 999;
  }
  100% {
    z-index: 1;
  }
}
@keyframes book {
  100% {
    margin-left: 50%;
  }
}

@keyframes scale {
  99.99% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scaleLabel {
  99.99% {
    transform: scale(0);
    color: var(--gray);
    text-shadow: none;
  }
  100% {
    transform: scale(1);
    color: var(--lightpink);
    transform: rotateY(180deg);
    text-shadow: 2px 1px var(--bluetext);
  }
}
@keyframes takeFrom {
  0% {
    transform: scale(0.5) translate(var(--leftStart), var(--topStart));
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotate {
  0% {
    transform: scale(0.7) rotate(0deg);
  }
  50% {
    transform: scale(0.8) rotate(-360deg);
  }
  100% {
    transform: scale(0.7) rotate(0deg);
  }
}

@keyframes jumpLetter {
  15% {
    transform: translate(0, -1%);
  }
  20% {
    transform: translate(0, -30%);
  }
  25% {
    transform: translate(0, -1%);
  }
}

@keyframes blink {
  0% {
    border: 1px solid var(--borderColor);
    box-shadow: inset 0 0 16px 8px var(--shadowColor);
  }
  5% {
    border: none;
    box-shadow: none;
  }
  23% {
    border: none;
    box-shadow: none;
  }
  24% {
    border: 1px solid var(--borderColor);
    box-shadow: inset 0 0 16px 8px var(--shadowColor);
  }
  30% {
    border: none;
    box-shadow: none;
  }
  43% {
    border: none;
    box-shadow: none;
  }
  44% {
    border: 1px solid var(--borderColor);
    box-shadow: inset 0 0 16px 8px var(--shadowColor);
  }
  50% {
    border: none;
    box-shadow: none;
  }
  63% {
    border: none;
    box-shadow: none;
  }
  64% {
    border: 1px solid var(--borderColor);
    box-shadow: inset 0 0 16px 8px var(--shadowColor);
  }
  70% {
    border: none;
    box-shadow: none;
  }
  83% {
    border: none;
    box-shadow: none;
  }
  84% {
    border: 1px solid var(--borderColor);
    box-shadow: inset 0 0 16px 8px var(--shadowColor);
  }
  90% {
    border: none;
    box-shadow: none;
  }
  98% {
    border: none;
    box-shadow: none;
  }
  99% {
    border: 1px solid var(--borderColor);
    box-shadow: inset 0 0 16px 8px var(--shadowColor);
  }
  100% {
    border: none;
    box-shadow: none;
  }
}
