@import url(../common.css);
@import url(../keyframes.css);

#logo {
  height: 8vh;
}

#header {
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: center;
  gap: 1em;
  border-radius: 0 0 35% 35%;
  padding: 10px;
}

#title {
  font-size: 3vh;
  color: var(--gray);
}
body {
  background-color: var(--dark);
  margin: 0;
}

#content {
  width: 47vw;
  height: 65vh;
  position: absolute;
  left: 30%;
  top: 20%;
  justify-content: center;
  perspective: 70em;
  transition: all 2s ease-in-out;
}

.card {
  border-radius: 5%;
  box-shadow: 0 0 0.5em 0.1em var(--shadow);
  width: 60%;
  position: absolute;
  height: 60vh;
  min-width: 400px;
  min-height: 600px;
  margin-left: 20%;
  display: flex;
  z-index: 1;
}
.card.inShelf {
  --topStart: 94%;
  --leftStart: 100%;
  animation: takeFrom 5s forwards;
}

.cover {
  background-color: var(--pink);
  width: 85%;
  height: 100%;
  z-index: 1;
  border-radius: 5%;
  transform-origin: 0% 100%;
}
#backcover {
  background-color: var(--darkpink);
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5%;
}
#registro {
  transform: scale(0);
}
#side {
  width: 95%;
  height: 98%;
  border-radius: 1.5em;
  background-color: var(--gray);
  box-shadow: inset 0 0 1em 0.5em var(--shadow);
  margin-top: 2%;
}
.page {
  margin-top: 2%;
  z-index: -1;
  width: 90%;
  height: 98%;
  background-color: var(--gray);
  position: absolute;
  transform-origin: 0 100%;
  box-shadow: inset 0 0 1em 0.5em var(--shadow);
  border-radius: 1.5em;
}
.page.right {
  width: 100%;
}

.cover.turn {
  transition: all 2s ease-in-out;
  transform: rotateY(-180deg) scaleX(1.1);
  z-index: 1;
  animation: bookCover 2s forwards;
  background-color: var(--darkpink);
}
.page.turn {
  animation: bookOpen 3s forwards;
  transition: all 2s ease-in-out;
}
.page.turn:nth-of-type(1) {
  animation-delay: 0.55s;
}
.page.turn:nth-of-type(2) {
  animation: bookOpen170deg 3s forwards;

  animation-delay: 0.75s;
}
.page.turn:nth-of-type(3) {
  animation: bookOpen160deg 3s forwards;

  animation-delay: 1s;
}
.page.turn:nth-of-type(4) {
  animation: bookOpen150deg 3s forwards;
  animation-delay: 2s;
}
.card.turn {
  animation: book 3s forwards;
}
#login.turn {
  visibility: hidden;
  transition: visibility 0.5s;
}

#registro.turn {
  animation: scale 3s forwards;
}

form {
  display: grid;
  place-content: space-evenly center;
  height: 60vh;
  width: 100%;
  min-width: 300px;
}
#registro {
  max-height: 100%;
}
.labels {
  display: grid;
  place-content: space-evenly center;
  height: 60vh;
  width: 100%;
  min-width: 300px;
  max-height: 70%;
}

#Voltar {
  animation: scaleLabel 5s forwards;
}

input {
  border-radius: 5%;
  height: 4vh;
  border: none;
  box-shadow: 0 0 0.1em 0.1em var(--bluetext);
  background-color: transparent;
  text-align: center;
  font-size: 20px;
}
.label-input {
  text-align: center;
  display: grid;
  place-content: center;
  letter-spacing: 3px;
  font-size: 20px;
  color: var(--lightpink);
  text-shadow: 2px 1px var(--bluetext);
}
.labels .label-input {
  animation: scaleLabel 5s forwards;
}
#login .label-input {
  font-size: 25px;
  color: var(--gray);
  text-shadow: 2px 1px var(--bluetext);
  transform: none;
  animation: none;
}

.btn {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 1em;
  background-image: conic-gradient(var(--pink), var(--darkpink), var(--pink));
  color: #fff;
  display: grid;
  place-content: center;
}
p {
  cursor: pointer;
  text-align: center;
}
#shelf {
  width: 80%;
  height: 30%;
  top: 65%;
  left: 13%;
  position: absolute;
  z-index: -1;
  display: flex;
  justify-content: space-between;
}
.books {
  width: 25%;
  height: 100%;
  display: flex;
  transform: rotateX(20deg);
}
.books-cover {
  border-radius: 1em;
  width: 85%;
  height: 100%;
  box-shadow: 0 0 0.2em 0.1em var(--shadow);
}
.books-side {
  width: 15%;
  height: 98%;
  top: 2%;
  left: -8%;
  background-color: var(--gray);
  position: relative;
  border-radius: 0 1em 1em 0;
  z-index: -2;
}
.books-backcover {
  z-index: -3;
  border-radius: 1em;
  width: 25%;
  height: 100%;
  left: -25%;
  position: relative;
}
.books:nth-child(2) .books-cover {
  background-color: #424dad;
}
.books:nth-child(3) .books-cover {
  background-color: #29306d;
}
.books:nth-child(1) .books-cover {
  background-color: #ad4254;
}
.books:nth-child(5) .books-cover {
  background-color: #9b753b;
}
.books:nth-child(2) .books-backcover {
  background-color: #29306d;
}
.books:nth-child(3) .books-backcover {
  background-color: #1c204b;
}
.books:nth-child(1) .books-backcover {
  background-color: #863543;
}
.books:nth-child(4) .books-cover {
  box-shadow: none;
}
.books:nth-child(4) .books-side {
  background-color: transparent;
}
.books:nth-child(5) .books-backcover {
  background-color: #77612a;
}
#shelf-bottom {
  background-color: #835938;
  width: 105%;
  height: 10%;
  left: -5%;
  position: absolute;
  top: 98%;
  box-shadow: 0.1em 0.1em 0.3em 0.1em var(--shadow);
}
.card.closed {
  animation: book 1s reverse;
}
.cover.closed {
  transition: all 0.1s ease-in-out;
}
#login.closed {
  visibility: visible;
}

#registro.closed {
  transform: scale(0);
}
