
:root{
  --dark: #827881;
  --gray: #f9d1d1;
  --darkgreen: #183B09;
  --green: #4A872F;
  --pink: #872F81;
  --darkpink: #501b4c;
  --shadow: rgb(99, 99, 102);
}

#logo{
  height: 8vh;

}

#header{
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: center;
  gap: 1em;
  border-radius: 0 0 35% 35%;
  padding: 10px;
}

#title{
  font-size: 3vh;
  color: var(--gray)
}
body{
  background-color: var(--dark);
  margin: 0
}

#content{
  width: 40vw;
  height: 65vh;
  position: absolute;
  left: 30vw;
  top: 20vh;
  justify-content: center;
}
#card{
  border-radius: 5%;
  box-shadow: 0 0 .5em .1em var(--shadow);
  width: 60%;
  position: absolute;
  height: 60vh;
  margin-left: 20%;
  display: flex;
  z-index: 1;
}
#cover{
  background-color: var(--pink);
  width: 85%;
  height: 100%;
  z-index: 1;
  border-radius: 5%;
}
#backcover{
  background-color: var(--darkpink);
  width: 20%;
  height: 100%;
  position: absolute;
  left: 80%;
  border-radius: 0 1.4em 1.4em 0;
}
#side{
  width: 80%;
  height: 98%;
  border-radius: 0 1.5em 1.5em 0;
  background-color: var(--gray);
  margin-top: 10%;
}

#marker{
  background-color:  var(--darkpink);
  width: 8%;
  height: 30%;
  position: absolute;
  top: 70%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 49% 77%, 0 100%);
  transition: background-color 1s, top .8s;
}
